
##########################################
# Common Settings
##########################################

# This file is the top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

# Docstrings and comments use max_line_length = 79
[*.py]
max_line_length = 119
end_of_line = lf

# YAML Files
[*.{yml,yaml}]
indent_size = 2

# [*.html]
# indent_style = space
# indent_size = 2
# end_of_line = lf
# charset = utf-8
# trim_trailing_whitespace = true
# insert_final_newline = true

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

# Web Files
[*.{htm,html,js,jsm,ts,tsx,css,sass,scss,less,svg,vue}]
indent_size = 4
end_of_line = lf

# Bash Files
[*.sh]
end_of_line = lf

# Makefiles
[Makefile]
indent_style = tab

# Markdown Files
[*.md]
trim_trailing_whitespace = false

[docs/**.txt]
max_line_length = 79
