##### Working directories #####
.run/*
tmp/*
!.gitkeep
_notes
results.*
default.json
default-iam-report.csv
private/default-iam-results.json
default-results-summary.csv
iam-new-principal-policy-mapping-example.json
iam-findings-example.json
private/*
current.json
TODO.md

venv
Pipfile.lock

iam-report-fake-000011112222.html
iam-triage-fake-000011112222.csv
#index.html
iam-triage-fake.csv
/iam-results-example.json
iam-triage-example.csv
iam-report-example.html
iam-report-fake.html
iam-principals-example.json
fake.html
## ReadTheDocs
site/

.DS_Store
node_modules
venv/*

private.html

*.js.map

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


##### HashiCorp #####
#### Terraform
#  Local .terraform directories
**/.terraform/*
*.plan

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!terraform.tfvars

#### Vagrant
.vagrant

#### Packer
packer_cache/

# For built boxes
*.box

##### Other #####
*.pem

########## IDE ##########
.idea
.vscode

#### Log files
*.log

# Generated most of this with https://www.gitignore.io/

########## Mac OSX ##########
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

########## Terraform ##########
#  Local .terraform directories
**/.terraform/*
*.plan

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
!terraform.tfvars

########## Python ##########
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
/dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
