language: python
python:
- '3.6'
- '3.7'
- '3.8'
before_install:
- pip install -U pip setuptools
install:
- pip install pipenv
- pipenv install --dev
script:
- invoke build.install-package
#- invoke test.format
- invoke test.lint
- invoke test.security
- invoke unit.pytest
- invoke integration.version
- invoke integration.expand-policy
#- invoke integration.scan
deploy:
  provider: pypi
  user: __token__
  password:
    secure: "MJVKf9ovYFL4KONeQCRDC855QOd5U+r0nfr13d/3hK8o1b+d9l5OJW1K++hKdA2lyYB7lLnHGVfYvjtSulqL8nBdDxqjAYSyV0CoCS8xnXz24QWYxi5ML67ixstxaXxDSyiM/VBAHfyoOA5EozaqqHwow7qfFbgRAvJCk7CvtKXrsKUKb/ZkqmgQ3x2Sw+dWV1OpDjoJAbUrVxRE/bqRK3SFpBD+kAvoU/XuDCuOk54AGHGGCeJANjHr/ENQMvKis942dwagR87oOtp7g8NdV20hR68AUHjLVojXyZXroBPL/uoRmKsKt4LKDWfbHo9fyQoA1+8nZgBdcpyQ+Y1DhVOBiYHY9D24ZSWfY0DgEgwISPJfC1cC8zCsi5WJgW5JZy74ndl7MwJ884c+m5HQIjRTSG/joN8C5dKM441nUPQApvg5M8nuh8bUqIrrkkl0g9wst0AhZe+fqKvAHfXxJLvaNs/G5IYi97NUCvIUloN9P1vIhkhuwjw8ZEtiimd5KYrAy6DDsLH29srJQ77ObUM8EGv6+YkSa6+EzE0woR7qy882SXzPds5D7t1acYGAiApHQm2eW+7CNcONCCfZSyoVHVPMarhDATJ3rv2H1X+16lux3t45Za+8CAkYbaH1YDJebZrmVCSPcqPwTuAZi1iwZqEwm4CcOlFJikU8UtI="
  distributions: sdist bdist_wheel
  skip_existing: true
  on:
    tags: true
    branch: master
    skip_existing: true
    python: 3.6
