# Linter
pylint==2.17.5
# Unit testing
pytest==8.2.2
coverage==7.6.0
# Security testing
bandit==1.7.7
# Formatter
black==24.4.2
# type check
mypy==1.11.0
boto3-stubs-lite[iam,s3,sts]==1.33.13
types-PyYAML==6.0.12.20240311
