# Linter
pylint==2.17.5
# Unit testing
pytest==7.4.4
coverage==7.2.7
# Security testing
bandit==1.7.5
# Formatter
black==23.3.0
# type check
mypy==1.4.1
boto3-stubs-lite[iam,s3,sts]==1.33.13
types-PyYAML==6.0.12.12
