# AWS
boto3==1.21.39
botocore==1.24.39
# Speeds up IAM logic
cached-property==1.5.2
# Command line
click==8.1.2
click_option_group==0.5.3
# Templating - required for exclusions YAML files and inserting content to HTML report
jinja2==3.1.1
pyyaml==6.0
# We render Markdown glossary files as HTML in the Cloudsplaining report
markdown==3.3.6
# AWS IAM Logic
policy-sentry==0.12.4
# Schema validation
schema==0.7.5