# AWS
boto3==1.20.16
botocore==1.23.16
# Speeds up IAM logic
cached-property==1.5.2
# Command line
click==8.0.3
click_option_group==0.5.3
# Templating - required for exclusions YAML files and inserting content to HTML report
jinja2==3.0.3
pyyaml==6.0
# We render Markdown glossary files as HTML in the Cloudsplaining report
markdown==3.3.6
# AWS IAM Logic
policy-sentry==0.11.18
# Schema validation
schema==0.7.4
