<span class="badge badge-default"></span>
<br>
<div class="aws-managed-table table-responsive table-sm">
<table id="aws-managed-table" class="display compact" style="width:100%; border-radius: 10px">
  <!--<table id="aws-managed-table" class="table table-striped table-bordered table-sm">-->
  <thead>
     <tr>
       <th>Policy Name</th>
       <th>Services Count</th>
       <th>Services Affected</th>
       <th><a href="#definition-infrastructure-modification">Infrastructure Modification</a></td></th>
       <th><a href="#definition-privilege-escalation">Privilege Escalation</a></th>
       <th><a href="#definition-resource-exposure">Resource Exposure</a></th>
       <th><a href="#definition-data-exfiltration">Data Exfiltration</a></th>
     </tr>
  </thead>
  <tbody>
  {% for finding in t["results"] %}
    {% if finding["ManagedBy"] == "AWS" %}
      <tr>
        <td><a href="#{{ finding['PolicyName'] }}">{{ finding['PolicyName'] }}</a></td>
        <td>{{ finding["ServicesCount"] }}</td>
        <td>{% for service in finding["Services"] %}{{ service }}{% if not loop.last %}, {% endif %}{% endfor %} </td>
        <td>{{ finding["ActionsCount"] }}</td>
        <td> {% if finding["PrivilegeEscalation"]|length > 0 %} {{ finding["PrivilegeEscalation"]|length }} {% endif %}</td>
        <td> {% if finding["PermissionsManagementActions"]|length>0 %} {{ finding["PermissionsManagementActions"]|length }}{% endif %}</td>
        <td> {% if finding["DataExfiltrationActions"]|length > 0 %}{{ finding["DataExfiltrationActions"]|length }} {% endif %}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
<br>
