<span class="badge badge-default"></span>
<br>
<p style="text-align: justify">
  The following table shows a list of <a href="definition-aws-managed-policy">AWS-managed IAM Policies</a> that are currently used in the account.
  <br>
  <br>
  If the policy contains IAM Actions - or combinations of actions - that fall under certain risk categories - <a href="#definition-infrastructure-modification">Infrastructure Modification</a>, <a href="#definition-privilege-escalation">Privilege Escalation</a>,  <a href="#definition-resource-exposure">Resource Exposure</a>, or <a href="#definition-data-exfiltration">Data Exfiltration</a> - then the number of occurrences per-policy and per-risk is included in the table.
  <br>
  <br>
  Each of the aforementioned attributes can be used to prioritize which risks to address first. For more information, see the <a href="#remediation-prioritization">Prioritization Guidance</a> and <a href="#triage-triaging-considerations">Triaging Considerations</a>. Consider using all of the Guidance criteria when reviewing this report as well.
  <br>
  <br>
  Note that policies or IAM Principals excluded from the scan will not show up in the table at all. Please refer to the <a href="#exclusions">Exclusions configuration</a> to see which ones were excluded. To view the list of IAM Principals and their associated policies, see the <a href="#nav-principals">IAM Principals Tab</a>.
</p>
<hr>
<div class="aws-managed-table table-responsive table-sm">
<table id="aws-managed-table" class="display compact" style="width:100%; border-radius: 10px">
  <!--<table id="aws-managed-table" class="table table-striped table-bordered table-sm">-->
  <thead>
     <tr>
       <th>Policy Name</th>
       <th>Services Count</th>
       <th>Services Affected</th>
       <th><a href="#definition-infrastructure-modification">Infrastructure Modification</a></td></th>
       <th><a href="#definition-privilege-escalation">Privilege Escalation</a></th>
       <th><a href="#definition-resource-exposure">Resource Exposure</a></th>
       <th><a href="#definition-data-exfiltration">Data Exfiltration</a></th>
     </tr>
  </thead>
  <tbody>
  {% for finding in t["results"] %}
    {% if finding["ManagedBy"] == "AWS" %}
      <tr>
        <td><a href="#{{ finding['PolicyName'] }}">{{ finding['PolicyName'] }}</a></td>
        <td>{{ finding["ServicesCount"] }}</td>
        <td><p style="max-height: 100px; overflow: scroll;">{% for service in finding["Services"] %}{{ service }}{% if not loop.last %}, {% endif %}{% endfor %}</p></td>
        <td>{{ finding["ActionsCount"] }}</td>
        <td> {% if finding["PrivilegeEscalation"]|length > 0 %} {{ finding["PrivilegeEscalation"]|length }} {% endif %}</td>
        <td> {% if finding["PermissionsManagementActions"]|length>0 %} {{ finding["PermissionsManagementActions"]|length }}{% endif %}</td>
        <td> {% if finding["DataExfiltrationActions"]|length > 0 %}{{ finding["DataExfiltrationActions"]|length }} {% endif %}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
</div>
<br>
