<span class="badge badge-default"></span>
<table class="table table-striped table-sm">
  <thead>
     <tr>
       <th>Policy Name</th>
       <th>Services Count</th>
       <th>Actions Count</th>
       <th>Services Affected</th>
       <th>Privilege Escalation</th>
       <th>Resource Exposure</th>
       <th>Data Exfiltration</th>
     </tr>
  </thead>
  <tbody>
  {% for finding in t["results"] %}
    {% if finding["ManagedBy"] == "Customer" %}
      <tr>
        <td><a href="#{{ finding['PolicyName'] }}">{{ finding['PolicyName'] }}</a>
        </td><td>{{ finding["ServicesCount"] }}</td>
        <td>{{ finding["ActionsCount"] }}</td>
        <td>{% for service in finding["Services"] %}{{ service }}{% if not loop.last %}, {% endif %}{% endfor %} </td>
        <td> {% if finding["PrivilegeEscalation"]|length > 0 %} {{ finding["PrivilegeEscalation"]|length }} {% endif %}</td>
        <td> {% if finding["PermissionsManagementActions"]|length>0 %} {{ finding["PermissionsManagementActions"]|length }}{% endif %}</td>
        <td> {% if finding["AllowsDataLeakActions"]|length > 0 %}{{ finding["AllowsDataLeakActions"]|length }} {% endif %}</td>
      </tr>
    {% endif %}
  {% endfor %}
  </tbody>
</table>
<br>
