<br>
<p style="text-align: justify">
  The following table shows the list of IAM Users, Groups, and Roles in the account, and their associated policies.
  <br>
  <br>
  If the policy contains IAM Actions - or combinations of actions - that fall under certain risk categories - <a href="#definition-infrastructure-modification">Infrastructure Modification</a>, <a href="#definition-privilege-escalation">Privilege Escalation</a>,  <a href="#definition-resource-exposure">Resource Exposure</a>, or <a href="#definition-data-exfiltration">Data Exfiltration</a> - then the number of occurrences per-policy and per-risk is included in the table.
  <br>
  <br>
  If the IAM principal is a Role and is <a href="#definition-roles-assumable-by-compute-services">assumable by a Compute Service</a> - <code>ec2</code>, <code>ecs-tasks</code>, <code>lambda</code>, or <code>eks</code> - then that is indicated in the table as well.
  <br>
  <br>
  Note that policies that were excluded from the scan will not have their statistics shown in the table. Please refer to the <a href="#exclusions">Exclusions configuration</a> to see which ones were excluded.
</p>
<hr>
<span class="badge badge-default"></span>
<div class="principals-table table-responsive">
<table id="principals-table" class="display compact" style="width:100%">
  <!--<table id="principals-table" class="table table-striped table-bordered table-sm">-->
  <thead>
     <tr>
       <th>Type</th>
       <th>Name</th>
       <th>Policy Type</th>
       <th>Managed By</th>
       <th>Policy Name</th>
       <th><a href="#definition-infrastructure-modification">Infrastructure Modification</a></td></th>
       <th><a href="#definition-privilege-escalation">Privilege Escalation</a></td></th>
       <th><a href="#definition-resource-exposure">Resource Exposure</a></th>
       <th><a href="#definition-data-exfiltration">Data Exfiltration</a></th>
       <th>Group Membership</th>
     </tr>
  </thead>
  <tbody>
  {% for principal in t["principal_policy_mapping"] %}
    <tr>
      <td>{{ principal["Type"] }}</td>
      <td>{{ principal["Principal"] }}</td>
      <td>{% if principal["PolicyType"] == "Managed" %} <a href="#definition-managed-policy">{{ principal["PolicyType"] }}</a>{% endif %}{% if principal["PolicyType"] == "Inline" %} <a href="#definition-inline-policy">{{ principal["PolicyType"] }}</a>{% endif %}</td>
      <td>{% if principal["ManagedBy"] == "AWS" %} <a href="#definition-aws-managed-policy">{{ principal["ManagedBy"] }}</a>{% endif %}{% if principal["ManagedBy"] == "Customer" %} <a href="#definition-customer-managed-policy">{{ principal["ManagedBy"] }}</a>{% endif %}</td>
      <td>{{ principal["PolicyName"] }}</td>
      <td>{{ principal["Actions"] }}</td>
      <td>{{ principal["PrivilegeEscalation"] }}</td>
      <td>{{ principal["DataExfiltrationActions"] }}</td>
      <td>{{ principal["PermissionsManagementActions"] }}</td>
      <td>{% if principal["GroupMembership"] %}{% if principal["GroupMembership"]|length > 0 %}{% for group in principal["GroupMembership"] %}{{ group }}{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}{% endif %}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
<br>
