<div class="card">
  <h6 class="card-header" id="{{ finding['PolicyName'] }}{% if finding['AttachedToPrincipal'] %}{{ finding['AttachedToPrincipal'] }}{% endif %}">
    Name: {{ finding["PolicyName"] }}
    <br>
    <br>
    Type: {% if finding["Type"] == "Policy" %}{{ finding["ManagedBy"] }}-Managed {{ finding["Type"] }}{% else %}Inline {{ finding["Type"] }} Policy{% endif %}
  {% if finding["Type"] == "Policy" %}
  {% if "Principals" in finding %}
<br>
<br>
    Attached to Principal(s):
{% for principal in finding["Principals"] %}
<br>
- {{ principal }}{% endfor %}
{% endif %}
<!--/Policies Attached to principals-->
  {% else %}
<!--Inline Policies - identify which ones are attached to which principal-->
<!--This will only apply if finding["Type"] != "Policy"-->
  {% if finding["AttachedToPrincipal"] %}
<br>
<br>
Attached to Principal: {{ finding["AttachedToPrincipal"] }}
  {% endif %}
{% endif %}
<!--/end AttachedToPrincipal-->
  </h6>
    <div class="card-body">
    <p class="card-text">
      Services: {{ finding["ServicesCount"] }}
      <br>
      Infrastructure Modification Actions: {{ finding["ActionsCount"] }}
      <br>
      Type: {% if finding["Type"] == "Policy" %}Managed{% else %}Inline{% endif %} Policy
      <br>
    {% if finding["AssumableByComputeService"]|length > 0 %}
      Role Assumable by Service(s): {% for service in finding["AssumableByComputeService"] %}{{ service }}{% if not loop.last %}, {% endif %}{% endfor %}
    {% endif %}
    </p>
    </div> <!-- /card-text -->
      <div class="card-footer"> <!-- card-footer: Where we store risk category indicators -->
        {% if finding["PrivilegeEscalation"]|length > 0 %}
          <div class="alert alert-danger popovers" data-toggle="popover" data-html="true" data-placement="top"
               title="Privilege Escalation"
               data-content='<p>These policies allow a combination of IAM actions that allow a principal with these permissions to escalate their privileges - for example, by creating an access key for another IAM user, or modifying their own permissions. This research was pioneered by Spencer Gietzen at Rhino Security Labs.  Remediation guidance can be found <a href="https://rhinosecuritylabs.com/aws/aws-privilege-escalation-methods-mitigation/">here</a>.</p>'
               role="alert">Privilege Escalation
          </div>
        {% endif %}
        {% if finding["DataExfiltration"]|length > 0 %}
          <div class="alert alert-warning popovers" data-toggle="popover" data-html="true" data-placement="top"
               title="Data Exfiltration"
               data-content='<div style="text-align:left"><p>Policies with Data Exfiltration potential allow certain read-only IAM actions without resource constraints, such as <code>s3:GetObject</code>, <code>ssm:GetParameter*</code>, or <code>secretsmanager:GetSecretValue</code>. <br> <ul> <li>Unrestricted <code>s3:GetObject</code> permissions has a long history of customer data leaks.</li> <li><code>ssm:GetParameter*</code> and <code>secretsmanager:GetSecretValue</code> are both used to access secrets.</li> <li><code>rds:CopyDBSnapshot</code> and <code>rds:CreateDBSnapshot</code> can be used to exfiltrate RDS database contents.</li> </ul></p></div>'
               role="alert">Data Exfiltration</div>
        {% endif %}
        {% if finding["ResourceExposure"]|length > 0 %}
          <div class="alert alert-danger popovers"  data-toggle="popover" data-html="true" data-placement="top"
               title="Resource Exposure"
               data-content='<p>Resource Exposure actions allow modification of Permissions to <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/access_policies_identity-vs-resource.html">resource-based policies</a> or otherwise can expose AWS resources to the public via similar actions that can lead to resource exposure - for example, the ability to modify <a href="https://docs.aws.amazon.com/ram/latest/userguide/what-is.html">AWS Resource Access Manager</a>.</p>'
               role="alert">Resource Exposure</div>
        {% endif %}
        {% if finding["AssumableByComputeService"]|length > 0 %}
          <div class="alert alert-info popovers" data-toggle="popover" data-html="true" data-placement="top"
               title="Role Assumable by Compute Service"
               data-content='<p>IAM Roles can be assumed by AWS Compute Services (such as EC2, ECS, EKS, or Lambda) can present greater risk than user-defined roles, especially if the AWS Compute service is on an instance that is directly or indirectly exposed to the internet. Flagging these roles is particularly useful to penetration testers (or attackers) under certain scenarios.<br>For example, if an attacker obtains privileges to execute <code>ssm:SendCommand</code> and there are privileged EC2 instances with the SSM agent installed, they can effectively have the privileges of those EC2 instances.</p>'
               role="alert">Role Assumable by Compute Service</div>
        {% endif %}
      </div><!-- /card-footer -->
   </div><!-- /card -->
<br>
<br>
