{% for finding in t["results"] %}
  {% if finding["ManagedBy"] == "Customer" %}
<br>
<div class="row">
  <div class="col-md-5">
    {% include 'analysis/finding-card/names.html' %}
  </div>
  <div class="col-md-7">
    <div id="card-customer-{{ t['results'].index(finding) }}">
      <div class="card">
         <div class="card-header">
            <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-doc-{{ t['results'].index(finding) }}">Policy Document</a>
         </div>
         <div id="card-element-customer-doc-{{ t['results'].index(finding) }}" class="panel-collapse collapse">
            <div class="card-body">
<pre><code>
{{ finding["PolicyDocument"] | tojson(indent=4) }}
</code></pre>
            </div>
         </div>
      </div>
      {% if finding["Type"] == "Policy" %}
        {% if "Principals" in finding %}
      <!--Policies Attached to principals-->
        <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-doc-principals{{ t['results'].index(finding) }}">Attached to Principals as Managed Policy</a>
      </div>
      <div id="card-element-customer-doc-principals{{ t['results'].index(finding) }}" class="panel-collapse collapse">
        <div class="card-body">
<pre><code>
{% for principal in finding["Principals"] %}
- {{ principal }}{% endfor %}
</code></pre>
        </div>
      </div>
    </div>
        {% endif %}
        <!--/Policies Attached to principals-->
      {% else %}
     <!--Inline Policies - identify which ones are attached to which principal-->
      <!--This will only apply if finding["Type"] != "Policy"-->
        {% if finding["AttachedToPrincipal"] %}
        <div class="card">
           <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-attached-to-principal{{ t['results'].index(finding) }}">Attached To Principal as Inline Policy</a>
           </div>
           <div id="card-element-customer-attached-to-principal{{ t['results'].index(finding) }}" class="panel-collapse collapse">
            <div class="card-body">
              <pre><code>
{{ finding["AttachedToPrincipal"] }}
              </code></pre>
            </div>
           </div>
        </div>
        {% endif %}
      {% endif %}
     <!--/end AttachedToPrincipal-->
<!--       endif -->
     <!--Trust Policy Document-->
      {% if finding["Type"] == "Role" %}
        <div class="card">
           <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-trust-policy{{ t['results'].index(finding) }}">Trust Policy Document</a>
           </div>
           <div id="card-element-customer-trust-policy{{ t['results'].index(finding) }}" class="panel-collapse collapse">
            <div class="card-body">
              <pre><code>
{{ finding["AssumeRolePolicyDocument"]  | tojson(indent=4) }}
              </code></pre>
            </div>
           </div>
        </div>
      {% endif %}
     <!--/end Trust Policy Document-->
      <!--All actions for the policy that do not practice resource constraints-->
      <div class="card">
        <div class="card-header">
          <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-action{{ t['results'].index(finding) }}">Infrastructure Modification Actions</a>
        </div>
        <div id="card-element-customer-action{{ t['results'].index(finding) }}" class="panel-collapse collapse">
          <div class="card-body">
            <pre><code>
{{ finding["Actions"] | tojson(indent=4) }}
            </code></pre>
          </div>
        </div>
      </div>
      <!--/All actions for the policy that do not practice resource constraints-->
      {% if finding["PrivilegeEscalation"]|length > 0 or
        finding["DataExfiltration"]|length > 0 or
        finding["ResourceExposure"]|length > 0 or
        finding["AssumableByComputeService"]|length > 0
      %}
      <!--High Priority Risks-->
        <div class="card">
           <div class="card-header">
              <a class="card-link" data-toggle="collapse" data-parent="#card-customer-{{ t['results'].index(finding) }}" href="#card-element-customer-risks{{ t['results'].index(finding) }}">High Priority risks</a>
           </div>
           <div id="card-element-customer-risks{{ t['results'].index(finding) }}" class="panel-collapse collapse">
               {% include 'analysis/finding-card/details.html' %}
           </div>
        </div>
      <!--/end High Priority Risks-->
      {% endif %}
   </div>

  </div><!-- /col for card -->
</div>
{% endif %}
{% endfor %}
