<p>The following data can be helpful in prioritizing which findings to address during Triage and Remediation.</p>

<table class="table table-striped w-auto table-sm">
  <thead>
     <tr>
        <th>Managed By</th>
         <th>Statistic</th>
        <th>Value</th>
     </tr>
  </thead>
  <tbody>
    <tr><td>Customer</td><td>Total services affected</td><td>{{ t["total_services_affected_by_customer_policies"] }}</td></tr>
    <tr><td>Customer</td><td>Median services per finding</td><td>{{ t["median_service_findings_per_customer_policy"] }}</td></tr>
    <tr><td>Customer</td><td>Median actions per finding</td><td>{{ t["median_action_findings_per_customer_policy"] }}</td></tr>
    <tr><td>AWS</td><td>Total services affected</td><td>{{ t["total_services_affected_by_aws_policies"] }}</td></tr>
    <tr><td>AWS</td><td>Median services per finding</td><td>{{ t["median_service_findings_per_aws_policy"] }}</td></tr>
    <tr><td>AWS</td><td>Median actions per finding</td><td>{{ t["median_action_findings_per_aws_policy"] }}</td></tr>
    <tr><td>Both</td><td>Policies with Data Exfiltration Potential <a href="#data-leak-note"><small>[1]</small></a></td><td>{{ t["policies_with_data_leak_potential"] }}</td></tr>
    <tr><td>Both</td><td>Policies with Privilege Escalation <a href="#priv-esc-note"><small>[2]</small></a></td><td>{{ t["policies_with_privilege_escalation"] }}</td></tr>
    <tr><td>Both</td><td>Policies with Permissions Management/Resource Exposure access <a href="#perm-mgmt-note"><small>[3]</small></a></td><td>{{ t["policies_with_permissions_management"] }}</td></tr>
  </tbody>
</table>
<br>
