<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="AWS IAM Policy Audit Report">
  <meta name="author" content="Kinnaird McQuade">
  <title>Cloudsplaining: AWS IAM Policy Audit Report</title>

  <!--Bootstrap theme-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <!--Custom CSS-->
  <style>
    .nav li {
      float: left;
    }

    .navbar {
      border-radius: 10px;
      font-size: 1em;
    }

    body {
      position: relative;
    }
  </style>

</head>

<body>
<!------------------>
<!-- Row          -->
<!------------------>
<div class="row">
  <!--------------->
  <!-- Container -->
  <!--------------->
  <div class="container">
    <!------------------>
    <!-- Navbar -->
    <!------------------>
    <nav id="navbar" class="navbar navbar-expand-sm sticky-top navbar-light bg-light">

      <div class="navbar nav nav-tabs" id="nav-tab" role="tablist">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Cloudsplaining</a>
        </div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-item nav-link active" id="nav-summary-tab" data-toggle="tab" href="#nav-summary" role="tab" aria-controls="nav-summary" aria-selected="true">Summary</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="nav-customer-managed-tab" data-toggle="tab" href="#nav-customer-managed" role="tab" aria-controls="nav-customer-managed" aria-selected="false">Customer policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="nav-aws-managed-tab" data-toggle="tab" href="#nav-aws-managed" role="tab" aria-controls="nav-aws-managed" aria-selected="false">AWS policies</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="nav-principals-tab" data-toggle="tab" href="#nav-principals" role="tab" aria-controls="nav-principals" aria-selected="false">IAM Principals</a>
          </li>
          <!--GUIDANCE DROPDOWN-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="nav-guidance-tab" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Guidance</a>
            <div class="dropdown-menu">
              <!--Triage Guidance-->
              <a class="dropdown-item" href="#triage-guidance"><b>Triaging</b></a>
              <a class="dropdown-item" href="#triage-understanding-context">Context</a>
              <a class="dropdown-item" href="#triage-assessment-recap">Assessment Recap</a>
              <a class="dropdown-item" href="#triage-triaging-workflow">Triaging Workflow</a>
              <a class="dropdown-item" href="#triage-triaging-considerations">Triaging Considerations</a>
              <a class="dropdown-item" href="#triage-common-false-positive-scenarios">Common False Positive Scenarios</a>
              <a class="dropdown-item" href="#triage-building-the-exclusions-file">Building the Exclusions File</a>
              <div class="dropdown-divider"></div>
              <!--Remediation Guidance-->
              <a class="dropdown-item" href="#remediation-guidance"><b>Remediation</b></a>
              <a class="dropdown-item" href="#remediation-prioritization">Prioritization</a>
              <a class="dropdown-item" href="#remediation-technical-remediation">Technical Remediation</a>
              <div class="dropdown-divider"></div>
              <!--Validation Guidance-->
              <a class="dropdown-item" href="#validation-guidance"><b>Validation</b></a>
              <a class="dropdown-item" href="#validation-using-cloudsplaining">Using Cloudsplaining</a>
              <a class="dropdown-item" href="#validation-using-parliament">Using Parliament</a>
            </div>
          </li>
          <!--APPENDICES DROPDOWN-->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="nav-appendices-tab" data-toggle="dropdown" href="#" role="tab" aria-haspopup="true" aria-expanded="false">Appendices</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#appendices"><b>Appendix</b></a>
              <a class="dropdown-item" href="#glossary">Glossary</a>
              <a class="dropdown-item" href="#exclusions">Exclusions Configuration</a>
              <a class="dropdown-item" href="#references">References</a>
            </div>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-secondary" id="collapseAccordion">
              <span class="glyphicon glyphicon-collapse-down"></span>Collapse
            </button>
          </li>
          <li class="nav-item">
            <button type="button" class="btn btn-outline-secondary" id="expandAccordion">
              <span class="glyphicon glyphicon-collapse-up"></span>Expand
            </button>
          </li>
        </ul><!--/end navbar list-->
      </div><!-- /end navbar container -->
    </nav><!-- /end navbar -->

    <!--CONTENT-->
    <!--TAB CONTENT-->
    <!-- Title section -->
    <div class="row">
      <div class="col-md-12">
        <div data-spy="scroll" data-target="#navbar" data-offset="50">
        <div class="tab-content" id="nav-tabContent">

          <!--EXECUTIVE SUMMARY TAB-->
          <div class="tab-pane fade show active" id="nav-summary" role="tabpanel" aria-labelledby="nav-summary-tab">
            <br>
            Report metadata:
            <ul>
              <li>Account: {{ t["account_name"] }} ({{ t["account_id"] }})</li>
              <li>Report Generated: {{t.report_generated_time}}</li>
            </ul>
            <br>
            <!--Executive Summary-->
            <h3 id="executive-summary">Executive Summary</h3>
            {% include 'summary/executive-summary.html' %}
          </div><!--/END SUMMARY TAB-->

          <!--PRINCIPALS TAB-->
          <div class="tab-pane fade" id="nav-principals" role="tabpanel" aria-labelledby="nav-principals-tab">
          <h3 id="iam-principals">IAM Principals</h3>

            {% include 'summary/iam-principals.html' %}
          </div><!--/end PRINCIPALS TAB-->

          <!--CUSTOMER-MANAGED TAB-->
          <div class="tab-pane fade" id="nav-customer-managed" role="tabpanel" aria-labelledby="nav-customer-managed-tab">

            <!--Summary: Customer-managed policies-->
            <h3 id="customer-managed-policies-summary">Findings: Customer-managed Policies</h3>
            {% include 'summary/customer-managed.html' %}

            <!--Analysis: Customer-managed-policies-->
            <h3 id="customer-managed-in-depth-analysis">In-depth analysis: Customer-managed Policies</h3>
            {% include 'analysis/customer-managed.html' %}
          </div><!--/end CUSTOMER-MANAGED TAB-->


          <!--AWS-MANAGED TAB-->
          <div class="tab-pane fade" id="nav-aws-managed" role="tabpanel" aria-labelledby="nav-aws-managed-tab">

            <!--Summary: AWS-managed policies-->
            <h3 id="aws-managed-policies-summary">Findings: AWS-managed Policies</h3>
            {% include 'summary/aws-managed.html' %}

            <!--Analysis: AWS-managed-policies-->
            <h3 id="aws-managed-in-depth-analysis">In-depth analysis: AWS-managed Policies</h3>
            {% include 'analysis/aws-managed.html' %}

          </div><!--/end AWS-MANAGED TAB-->

        </div><!--/end Tab content-->
        </div><!--/end data spy-->

        <br>
        <hr>
        <br>
        <!--Guidance-->
        <h2 id="guidance">Guidance</h2>
        {% include 'guidance/guidance.html' %}

        <!--Appendix-->
        <h3 id="appendices">Appendix</h3>
        <br>

        <!--Appendix subsection: Glossary-->
        <h4 id="glossary">Glossary</h4>
        {% include 'appendix/glossary.html' %}

        <!--Appendix subsection: Exclusions configuration-->
        <h4 id="exclusions">Exclusions configuration</h4>
        {% include 'appendix/exclusions.html' %}

        <!--Appendix subsection: References-->
        <h4 id="references">References</h4>
        {% include 'appendix/references.html' %}

        <hr>

        </div> <!-- /data-spy -->
      </div> <!-- /column containing all contents-->
    </div><!-- /row holding all contents-->
  </div><!-- /container -->
</div><!-- /row holding container holding all contents -->

<!-- JQuery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--Popper-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<!--  Bootstrap-->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

<!--Press Collapse/expand button so you can Ctrl+F through the report-->
<script type="text/javascript">
  $(function () {
    $('#collapseAccordion').on('click', function (e) {
      $('.panel-collapse').collapse('hide');
    })
    $('#expandAccordion').on('click', function (e) {
      $('.panel-collapse').collapse('show');
    })
  });
</script>

<!--Force first tab as active tab-->
<script type="text/javascript">
    $(document).ready(function(){
        $('.nav-tabs a[href="#nav-summary"]').tab('show');
    });
</script>

</body>
</html>
