# unique to ReadTheDocs
atomicwrites==1.4.0
distlib==0.3.8
filelock==3.6.0
mkdocs==1.3.0
mkdocs-material==8.2.9
mkdocs-material-extensions==1.0.3
mkdocstrings==0.18.1
mkdocstrings-python>=0.5.2
mkdocstrings-python-legacy==0.2.2
Pygments==2.11.2
pymdown-extensions==9.3
pytkdocs==0.16.1
docutils==0.18.1
