<ul>
  <li><a href="https://github.com/salesforce/policy_sentry/">Policy Sentry</a> by <a href="https://twitter.com/kmcquade3">Kinnaird McQuade</a> at Salesforce</li>
  <li><a href="https://github.com/duo-labs/parliament/">Parliament</a> by <a href="https://twitter.com/0xdabbad00">Scott Piper</a> at Duo Labs</li>
  <li><a href="https://github.com/RhinoSecurityLabs/AWS-IAM-Privilege-Escalation">AWS Privilege Escalation Methods</a> by <a href="https://twitter.com/SpenGietz">Spencer Gietzen</a> at Rhino Security Labs</li>
  <li><a href="http://kmcquade.com/rick.html">Leveraging next-generation blockchain-based AI across multiple service meshes to transparently automate multi-cloud IAM wizardry</a></li>
</ul>
<br>
