name: security

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - master
jobs:
  detect-secrets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871  # v4.2.1
      - name: detect secrets
        uses: trufflesecurity/trufflehog@5280c3877c038b601658903fb98da62192f436d8 # v3.82.8
        with:
          extra_args: "--exclude_paths .github/exclude-patterns.txt --max_depth=1"
