# .github/workflows/test.yml

name: Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

env:
  PREK_VERSION: '0.3.1'

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version-file: '.python-version'
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
        with:
          just-version: '1'
      - uses: j178/prek-action@564dda4cfa5e96aafdc4a5696c4bf7b46baae5ac # v1.1.0
        with:
          prek-version: ${{ env.PREK_VERSION }}

  ci:
    needs: prek
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          activate-environment: true
      - run: uv sync --frozen

      - name: Install the package to make sure nothing is randomly broken
        run: just build-package
      - name: Run pytest (unit tests)
        run: just unit-tests
      - name: Run mypy (static type check)
        run: just type-check

  python-version:
    needs: prek
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        python: ['3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
      - uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867  # v7.1.6
        with:
          python-version: ${{ matrix.python }}
          activate-environment: true
      - run: uv sync --frozen

      - name: Install the package to make sure nothing is randomly broken
        run: just build-package
      - name: Run pytest (unit tests)
        run: just unit-tests
