# .github/workflows/test.yml

name: Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

env:
  PREK_VERSION: '0.2.13'

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version-file: '.python-version'
      - uses: extractions/setup-just@e33e0265a09d6d736e2ee1e0eb685ef1de4669ff # v3.0.0
        with:
          just-version: '1'
      - uses: j178/prek-action@91fd7d7cf70ae1dee9f4f44e7dfa5d1073fe6623 # v1.0.11
        with:
          prek-version: ${{ env.PREK_VERSION }}

  ci:
    needs: prek
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          activate-environment: true
      - run: uv sync --frozen

      - name: Install the package to make sure nothing is randomly broken
        run: just build-package
      - name: Run pytest (unit tests)
        run: just unit-tests
      - name: Run mypy (static type check)
        run: just type-check

  python-version:
    needs: prek
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        python: ['3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244  # v7.1.4
        with:
          python-version: ${{ matrix.python }}
          activate-environment: true
      - run: uv sync --frozen

      - name: Install the package to make sure nothing is randomly broken
        run: just build-package
      - name: Run pytest (unit tests)
        run: just unit-tests
