# .github/workflows/test.yml

name: Test

on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: read

env:
  MIN_PYTHON_VERSION: "3.9"

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: ${{ env.MIN_PYTHON_VERSION }}
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd  # v3.0.1

  ci:
    needs: pre-commit
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: ${{ env.MIN_PYTHON_VERSION }}

      - name: Install dependencies
        run: |
          make setup-dev

      - name: Install the package to make sure nothing is randomly broken
        run: |
          make install

      - name: Run pytest (unit tests)
        run: |
          make test

      - name: Run mypy (static type check)
        run: |
          make type-check

  python-version:
    needs: pre-commit
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: true
      matrix:
        python: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
      - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065  # v5.6.0
        with:
          python-version: ${{ matrix.python }}
          allow-prereleases: true

      - name: Install dependencies
        run: |
          make setup-dev

      - name: Install the package to make sure nothing is randomly broken
        run: |
          make install

      - name: Run pytest (unit tests)
        run: |
          make test
